.idea
*.iml
**/msvc/Debug*
**/msvc/Release*
**/msvc/*.sdf
**/msvc/*.opensdf
**/msvc/*.user
**/msvc/*.suo
**/msvc/*.db
**/msvc/*.opendb
**/msvc/*.aps
**/msvc/.vs
**/msvc/ipch
**/PublishPath*.txt
**/Server*.bat
**/publish*
**/build*
**/*.log
